<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/catalog.css') }}">
    
</head>

<body>
    <nav>
        <ul>
            <li><a href="/catalog">Catalog App</a></li>
            <li style="float:right">
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>
    
    <div class="container category">
        <div class="category_list">
            <h2>Categories</h2>
            <ul>
                {% for i in categories %}
                <li><a href="#">{{i.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="item_list">
            <h2>Latest items</h2>
            <ul>
                {% for i in items %}
                <li><a href="#">
                    <h2>{{i.name}}</h2>
                    <h4>{{i.item_category.name}}</h4></a>
                </li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
    
</body>

</html>