<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/catalog.css') }}">
    
</head>

<body>
    <nav>
        <ul>
            <li><a href="/catalog"><h2>Catalog App</h2></a></li>
            <li style="float:right">
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>
    
    <div class="container category">
        <div class="category_list">
            <h1>Categories</h1>
            <ul>
                {% for i in categories %}
                <li><a href="#"><h3>{{i.name}}</h3></a></li>
                <br>
                {% endfor %}
            </ul>
        </div>

        <div class="line"></div>

        <div class="item_list">
            <h1>Latest Items</h1>
            <ul>
                <div>
                    {% for i in items %}
                    <li><a href="#">
                        <h3 class="iitem firstt">{{i.name}}</h3>
                        <h4 class="iitem subt">({{i.item_category.name}})</h4></a>
                    </li>
                    <br>
                    {% endfor %}
                </div>
            </ul>
            
        </div>
    </div>
    
</body>

</html>