<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
    <title>Public Item</title>
</head>

<body>
    
    {% include "nav.html" %}
    
    <div class="detailed_item">
        <h1>{{item.name}}</h1>
        <h3>{{item.description}}</h3>
        <div class="alter">
            <a class="a1" href="#"> <!-- TODO: Add these links -->
                <h4>Edit</h4>
            </a>
            <div class="line2"></div>
            <a class="a2" href="#">
                <h4>Delete</h4>
            </a>
        </div>
    </div>

</body>

</html>