<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>Items</title>
</head>

<body>

    {% include "nav.html" %}    
    {% include "category.html" %}
    
    <div class="line"></div>
    
    <div class="item_list">
        <h1>{{category.name}} Items ({{count}})</h1>
        <ul>  
            {% for i in items %}
            <li><a href="{{url_for('viewItem', category_id=i.category_id, item_id=i.id)}}"}}><h3 class="prime">{{i.name}}</h3></a></li> 
            <!-- TODO: Add Links -->
            {% endfor %}
        </ul>
    </div>
    
</div>

</body>
</html>