<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>New Item</title>
</head>
<body>
    
    {% include "nav.html" %}
    
    <form action="{{ url_for('newItem', category_id=category.id )}}" method = 'POST'>
        <h2>Add item to {{category.name}}</h2>
        Item Name:
        <input type="text" id="name" name="name">
        <br>
        
        Item Description:
        <input type="text" size="50" id="description" name="name">
        <br>
        
        <input type="submit">
        <input type="reset">
        
    </form>
</body>
</html>